.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: #cbd5e1;
  background-size: cover;
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  margin-bottom: 1px;
}

@media screen and (min-width: 768px) {
  .header-container {
    font-size: 22px;
    padding: 15px;
  }
}
